*{

}

html {

   
}

body {
    background-image: url(../images/houndstooth-pattern.png);
}

header {
    width: 100%;
    background-color:#ffffff;
    padding:0;
    display: inline-block;
    border-bottom: 4px solid #cccccc;
    position: absolute;
    top: 0;
    left: 0;
}
section {
    width: 960px;
    margin: 0 auto;
    position: relative;
    top: 100px;
}
.container {
    background-color: #ffffff;
    width: 100%;
    height: 1000px;
    margin: 0 auto;
    padding: 30px;
    border: 1px solid #cccccc;

}

footer {


}

p {
    color: #777777;
    font-family: 'PT Sans', sans-serif;
    line-height: 1.5;
}

a {
    text-decoration: none;
    color: #777777;
}
.header {
    font-family: 'Georgia', Times, Times New Roman, serif;
    background-color: #ffffff;
    width: 960px;
    margin: 0 auto;
}

#box1 {
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 20px;
    background-color: #4aaaa5;
    padding: 20px;
    color: #ffffff;
    width:15%;
    clear: both;
    text-align: center;
    float: left;
}

#box2 {
    color: #777777;
    float: right;
    padding: 0 20px;
    position: relative;
    top: 20px;
}

#box3 {
    color: #777777;
    float: right;
    padding: 0 20px;
    border-right: 1px solid #777777;
    border-left: 1px solid #777777;
    position: relative;
    top: 20px;

}

#box4 {
    color: #777777;
    float: right;
    padding: 0 20px;
    position: relative;
    top: 20px;

}

.section1 {
    width: 100%;
    margin: 0 auto;

}

.section2 {
    width: 100%;
    margin: 0 auto;
}
#aboutme, #contact, #portfolio {
    color: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
    border-bottom: 3px solid #cccccc;
    padding-bottom: 30px;
}

#mypic {
    width: 120px;
    height: 140px;
    float: left;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
.passage1 {
    padding: 0 20px;
    width: 75%;
    float: left;
    display: inline-block;
    overflow: auto;
}
.passage2 {
    padding: 20px 20px;
    width: 90%;
    clear: both;
    margin: 0 auto;
}
.passage3{
    padding: 20px 20px;
    width: 90%;
    clear:both;
    margin: 0 auto;
}
#copyright{
    width: 100%;
    background-color: #666666;
    color: #ffffff;
    text-align: center;
    position: fixed;
    bottom:0;
    left:0;
    border-top: 5px solid #4aaaa5;
    padding-top: 30px;
    pa
}
#contact {

}

.section3 {
    width: 100%;
    margin: 0 auto;
}

.section4 {
    width: 100%;
    margin: 0 auto;
}
label {
    color: #777777;
    width: 960px;
}

.information{

    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

#name {
    width:100%;
    display: block;
    padding: 5px 0;
    margin: 0 atuo;
}

#email {
    width:100%;
    display: block;
    padding: 5px 0;
    margin: 0 atuo;
}

#message{
    width:100%;
    display: block;
    padding: 5px 0;
    margin: 0 atuo;
}

.button {
    background-color: #4aaaa5;
    color: #ffffff;
    float: left;
    padding: 15px;
    margin-top: 10px;
}

.left {
    float:left;
    margin: 20px 20px;
}

.imgportfolio{
    width: 350px;
    height: 200px;
}

.imagetitle {
    background-color: #4aaaa5;
    color: #ffffff;
    padding: 15px 0;
    text-align: center;
}
#image1 {
    position: relative;
    bottom: 70px;
    left: 0;
}

#image2 {
    position: relative;
    bottom: 70px;
    left: 0;
}

#image3 {
    position: relative;
    bottom: 70px;
    left: 0;
}

#image4 {
    position: relative;
    bottom: 70px;
    left: 0;
}

#image5 {
    position: relative;
    bottom: 70px;
    left: 0;
}

@media screen and (max-width: 980px) {
    .container {
        width: 66%;
        position: absolute;
        top: 0;
        left: 40px;
        height: 1500px;
    }
    .left {
        
    }
    .passage1 {
        width: 60%;
    }
    .header {
        width: 100%;
    }
    .imagetitle{
        width: 100%;
        
    }
    .imgportfolio {
        width: 100%;
        margin: 0 auto;
        padding: 0 0;
    }
    .left {
        width: 40%;
        float: left;
        margin: 5px;
        padding: 10px;
    }


    
}


@media screen and (max-width: 768px) {
    .header {
        width: 100%;
    }
    #mypic {
        width: 230px;
        height: 210px;
    }
    section {
        width: 90%;
        position: absolute;
        left: 0;
    }
    .container {
        width: 90%;
        margin
    }
    .passage1 {
        width: 40%;
        display: inline;
    }
    .left {
        float: left;
    }
    
}

@media screen and (max-width: 640px) {
    .header {
        width: 100%;
        height: 115px;
        margin: 0 auto;
    }
    section {
        width: 90%;
        margin: 0 auto;
        position: absolute;
        left:-15px;
    }
    .container {
        width: 90%;
        height: 2500px;
        position: absolute;
        top: 60px;
    }
    #mypic {
        width: 100%;
        height: auto;
        margin: 0 auto;
        padding: 5px 0;
    }
    .passage1 {
        width: 90%;
    }
    #box1 {
        width: 100%;
        float: none;
    }
    #box2 {
        
       
    } 
    #box3 {
        
        
    } 
    #box4 {
       
       
    }
    .left {
        width: 100%;
        display: block;

    }

    .imgportfolio {
        width: 90%;
        height: 400px;
        
    }
    .imagetitle {
        width: 90%;
    }
}